/* Grundlegende Einstellungen */
body {
    font-family: 'koulen', sans-serif;
    margin: 5em 5em 5em 5em;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    background-image: url('./img/Hintergrund.png');
    background-repeat: repeat-y;
    /* background-image: url('./img/Hintergrund.svg');
    background-repeat: repeat-y; */
  }
  
  h1 {
    color: #ffffff;
    font-size: 5.5em;
    font-family: 'Koulen', sans-serif;
    font-weight: regular;
    font-style: normal;
  }

  h2 {
    color: #ffffff;
    font-size: 3em;
    font-family: 'Koulen', sans-serif;
    font-weight: regular;
    font-style: normal;
  }

  p {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Koulen', sans-serif;
    font-weight: regular;
    font-style: normal;
  }

  
  /* Grid mit farbigen Feldern */

#logo {

    width: 12rem; /* Breite des Logos */

    }
  
  .knalligebox {
    margin-top: 5em;
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;;
    }
    
    #links_blau {
    grid-area: 1 / 1 / 5 / 2;
    background-color: #96C3C7;
    color: white; 
    /*min-height: 50px;*/
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
  
    }
    
    #rechts_weiss {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #FFFFFF;
    color: black; 
    max-height: 50%;
    /*min-height: 50px;*/
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    /* font-size: 50px;  Setzt die Schriftgröße */
    /* font-weight: bold;  Setzt die Schrift auf fett */
    /* font-family: 'Koulen'sans-serif;  Setzt die Schriftart auf 'Koulen' */
    }
        
    #rechts_gelb {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #D6B32E;
    }
    
    #rechts_rosa {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #DA9FA9;
    }
    
    #rechts_blau {
    grid-area: 4 / 2 / 5 / 3;
    background-color: #55397F;
    }

    #unten_violet {
    grid-area: 5 / 1 / 6 / 3;
    background-color: #A678EE;
    }

    #feld_links_blau, #rechts_gelb, #rechts_rosa, #rechts_blau, #unten_violet{
        min-height: 8em;
        min-width: 30%;
        padding-left: 3em;
        padding-top: 1em;
    }

  
  
    
    