/* Grundlegende Einstellungen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
    background-image: url('img/HiGu Schwarz-weiss.svg')
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  h1, h2 {
    color: #333;
  }
  
  /* Grid mit farbigen Feldern */
  
  .knalligebox {
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    #links_blau {
    grid-area: 2 / 1 / 6 / 2;
    background-color: #0FD7D2;
    color: white; 
    min-height: 50px;
    padding-top: 50px; /* Reduziertes oberes Padding von 20px auf 10px */
    padding-right: 25px; /* Angenommenes Padding rechts */
    padding-bottom: 20px; /* Angenommenes Padding unten */
    padding-left: 25px; /* Angenommenes Padding links */
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    font-size: 50px; /* Setzt die Schriftgröße */
    }
    
    #rechts_weiss {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #FFFFFF;
    color: black; 
    min-height: 50px;
    padding-top: 50px; /* Reduziertes oberes Padding von 20px auf 10px */
    padding-right: 25px; /* Angenommenes Padding rechts */
    padding-bottom: 20px; /* Angenommenes Padding unten */
    padding-left: 25px; /* Angenommenes Padding links */
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    font-size: 50px; /* Setzt die Schriftgröße */
    }
        
    #rechts_gelb {
    grid-area: 3 / 2 / 4 / 3;
    background-color: #D1D500;
    }
    
    #rechts_rosa {
    grid-area: 4 / 2 / 5 / 3;
    background-color: #F542A9;
    }
    
    #rechts_blau {
    grid-area: 5 / 2 / 6 / 3;
    background-color: #00629D;
    }

    #unten_violet {
    grid-area: 7 / 1 / 10 / 3;
    background-color: #00629D;
    }

    #feld_links_blau, #rechts_gelb, #rechts_rosa, #rechts_blau, #unten_violet{
        min-height: 150px;
        min-width: 100px;
    }
    